<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta charset="UTF-8">
    <title>Pinelands Music School</title>
</head>
<body>
    <div class="content_container">
        <div class="header">

            <a href=""><img src="../../../static/Pictures/Pinelands_Logo_Placeholder.jpg" alt="School logo" class="logo"></a>

            <div class="pinelands_title">
                <h class="pinelands">Pinelands<br>Music<br>School</h>
            </div>

            <div class="account_login">
                <a href=""><img src="../../../static/Pictures/Student_Profile.jpg" alt="Students profile picture" class="profile_pic"></a>
                <div class="account_login_text">
                    <a href=""><p class="login_text">Kermit</p></a>
                    <a href=""><p class="login_text">Log Out</p></a>
                </div>
            </div>

        </div>

        <ul class="nav_bar">
            <li class="nav_bar_button"><a href="" class="nav_bar_button_text">Button One</a></li>

            <li class="nav_bar_button"><a href="" class="nav_bar_button_text">Button Two</a></li>

            <li class="nav_bar_button"><a href="" class="nav_bar_button_text">Button Three</a></li>

            <li class="nav_bar_button"><a href="" class="nav_bar_button_text">Button Four</a></li>

            <li class="nav_bar_button"><a href="" class="nav_bar_button_text">Button Five</a></li>
        </ul>

        <img src="../../../static/Pictures/Homepage_Picture_Placeholder.jpg" alt="Students learning" class="welcome_pic">

        <div class="row">

            <div class="column">
                <h class="section_header">Column One</h><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vestibulum, ante id auctor facilisis, magna lacus vehicula sem, eget vulputate.
            </div>

            <div class="column">
                <h class="section_header">Column Two</h><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vestibulum, ante id auctor facilisis, magna lacus vehicula sem, eget vulputate.
            </div>

            <div class="column">
                <h class="section_header">Column Three</h><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vestibulum, ante id auctor facilisis, magna lacus vehicula sem, eget vulputate.
            </div>

        </div>

        <div class="footer">
            <br>
            <a href=""><p class="footer_text">About Us</p></a>
            <a href=""><p class="footer_text">Contact Us</p></a>
            <br>
        </div>
    </div>
</body>
</html>