div.header {
    height: 150px;
    width: 100%;
    max-width: 1024px;
    background-color: #7C45D6;
	margin: auto;
}

h.pinelands {
    color: #2E0571;
    font-size: 30pt;
    margin-left 100px;
}

div.footer {
	height: 50px;
	background-color: #7C45D6;
	margin: auto;
	width: 100%;
	max-width: 1024px;
	float: bottom;
}

/* https://www.w3schools.com/howto/howto_css_three_columns.asp */
.column {
    width: 33.33%;
	border:1px solid black;
}

@media screen and (max-width: 600px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 300px) {
    .column {
        width: 100%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}